Language: Java
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: NonAssignment
BreakAfterJavaFieldAnnotations: true
ColumnLimit: 90
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 1
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
UseTab: Never
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: false
ReflowComments: false
